* {
  box-sizing: border-box;
}

body {
  background-color: #1f222c;
  width: 100%;
}

.registerContainer {
  background-color: #1f222c; 

  border-radius: 30px;
  border: 4px solid #0aabff;
  margin: auto;
  padding: 0px 0px 20px 0px;
  max-width: 600px;
  font-family: Inter, sans-serif;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formTitle {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.inputGroup {
  margin-bottom: 25px;
  width: 70%;
}


.inputFrame {
  border-radius: 20px;
  background-color: #bcbdc0;
  width: 100%;
  padding: 10px 15px;
  font-size: 20px;
  text-align: left;
  font-weight: 400;
}

.registerButton {
  
  border-radius: 20px;
  background-color: #bcbdc0;
  color: #1e1e1e;
  font-size: 24px;
  padding: 10px 51px;
  border: 1px solid #000000;
  cursor: pointer;
  margin-top: 0px;
  
}

.already-account {
  position: absolute;
  right: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* @media (max-width: 991px) {
  .registerFormContainer {
    padding: 100px 20px 0;
    max-width: 250px;
  }

  .formTitle {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .registerButton,
  .languageButton {
    padding: 10px 20px;
  }
} */